.card__name {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 79px;
    font-style: normal;
    color: #000;
}
