.profile__button-add {
    border: #fff solid 2px;
    min-width: 282px;
    height: 50px;
    border-radius: 2px;
    background-image: url(../../../images/button_add.svg);
    background-size: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin: 36px auto 0;
    padding: 0;
}

.profile__button-add:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (min-width: 880px) {
    .profile__button-add {
        min-width: 150px;
        min-height: 50px;
        background-size: 22px;
        /*margin: auto 0;*/
        margin: auto 0 auto 35px;
    }
}
