.profile__name-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin: 23px auto 0;
}

@media screen and (min-width: 880px) {
    .profile__name-box {
        margin: 0;
    }
}
